.margennav{
	margin-right: 50px;
	margin-left: 50px;
}

.nomargin{
	margin-bottom: 0px;
}

.pie{
	background-color: black;
	border: 0px;
	color: white;
	font-weight: bold;
	padding: 20px;
}

.info{
	background-color: #cecece;
	border:0;
	color: black;
}

.carreras{
	background-color: blue;
	border:0;
	color: black;
}

.ubicacion{
	background-color: white;
	border:0;
	color: black;
}